body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: aliceblue;
}

.popover{
    display: none;
    position: absolute;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0  0 10px  rgba(0,0,0,0.5);
    z-index: 1;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}
.popover.active{
    display: block;
}
.btn{
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover{
    background-color: blueviolet; 
}