body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s;
}

.button-container{
    display: flex;
    gap: 15px;
}

.button{
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

#grey{
    background-color: grey;
    color: white;
}

#white{
    background-color: white;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
    color: white;
}