*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    height: 100vh;
    background-color:blueviolet;
}

.button{
    position: relative;
    padding: 15px 20px;
    font-size: 1.5rem;
    background-color: white;
    display: inline-block;
    text-decoration: none;
    color: darkolivegreen;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.5s;
}

.button:hover{
    letter-spacing: 0.1rem;
}

#newsletter{
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: white;
    z-index: 1000;
    width: 450px;
    padding: 80px 50px 50px;
    transition: 0.5s;
    border-radius: 4px;
    visibility: hidden;
}

#newsletter h2{
    text-align: center;
    color: darkolivegreen;
    font-size: 24px;
    margin: 20px 10px;
}

#newsletter p{
    text-align: center;
    color: darkolivegreen;
    font-size: 18px;
}

#newsletter .box{
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#newsletter.active{
    visibility: visible;
    top:50%;

}

input , button {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 15px;
    outline: none;
    font-size: 1rem;
    font-family: sans-serif;
}

button{
    border: none;
    width: 150px;
    letter-spacing: 0.1rem;
    background-color: darkviolet;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.close{
    position: absolute;
    cursor: pointer;
    top: 25px;
    right: 20px;
}